*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}
.header
{
height:100vh;
align-items: center;
box-sizing: border-box;
justify-content: center;
display: flex;
}
.card
{
    border-radius: 24px;
    box-shadow: 10px 15px 50px hsl(241, 100%, 89%);
    display:flex;
    
}
.result_page
{
    width: 385px;
    padding:40px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-image: linear-gradient(210deg, hsl(252, 100%, 67%),  hsl(241, 81%, 54%)); 
}
.c_heading
{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    font-weight: 200;
    color:hsla(0, 0%, 100%, 0.555);
}
.circle
{
    text-align: center;
    justify-content: center;
    background-image:  linear-gradient(180deg,hsla(256, 72%, 46%, 1),  hsl(241, 81%, 54%)) ;
    border-radius: 50%;
    padding:24px;
    margin: 40px 0;
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
}
.c_rnum
{
    font-size: 70px;
    font-weight: 700px;
    color: white;
}
.c_rtext
{
    font-weight:200;
    color: hsl(225, 16%, 63%);
}
.c_status
{   
    color:white;
    margin-bottom:24px;
}
.c_script
{
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    color: hsl(225, 16%, 63%);
}
.summary_page
{
    width: 385px;
    padding:45px;
}
.s_heading
{
    font-size: 22px;
    font-weight:600;
    color: hsl(224, 30%, 27%);
}
.s_container
{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 25px 0;
}
img
{
        margin-right: 5px;
}
.s_c_reaction,.s_c_memory,.s_c_verbal,.s_c_visual
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}

strong{
    color: black;
    margin-right: px;
}
.s_c_reaction{
    background:#fff6f5;
}
.s_c_memory{
    background: #fffbf2 ;
}

.s_c_verbal{
    background: #f2fbfa;
}

.s_c_visual{
    background: #f3f3fd;
}

.s_c_reaction
{
   color:hsl(0, 100%, 67%);
}
.s_c_memory
{
   color:hsl(39, 100%, 56%);

}
.s_c_verbal
{
    color:hsl(166, 100%, 37%);
}
.s_c_visual
{
    color:hsl(234, 85%, 45%);
}
.s_c
{
display: flex;
justify-content:flex-end;
}
.s_c_text
{
    display: flex;
}
.s_c_res{
    margin-left: 90px;
    color:hsla(0, 5%, 11%, 0.555);
    display: flex;
}
.btn
{   
    width:100%;
    height:50px;
    border-radius: 30px;
    color:white;
    font-size: 18px;
    background-color: #303b59;
}
.btn_txt
{
 color:white;
}
.btn:hover
{
 background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),  hsl(241, 81%, 54%));
 transition: all 5s ease-in;
 cursor:pointer;
}
@media screen and (max-width:375px) {
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .card{
        border-radius: 16px;
        display: flex;
        flex-direction: column;   
    }
    .result_page
    {
        border-radius: 0% 0% 10% 10%;
        padding:15px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(210deg, hsl(252, 100%, 67%),  hsl(241, 81%, 54%));
     }
     .summary_page
     {
    padding:20px;
}
.circle{
    padding:12px;
    width:150px;
    height:150px;
}
.c_script
{
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
}
footer{
    text-align: center;
}